@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@model EvercraftWebsite.Views.Home.HomeModel
@{
}

<div class="text-center">
    <h1 class="display-4">Evercraft</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="characterName" class="form-label">Character Name</label>
            <input type="text" class="form-control" id="characterName" name="characterName" value="" />
        </div>
        <button
            type="submit"
            asp-controller="Home"
            asp-action="Create"
            class="btn btn-primary">
            Submit
        </button>
    </form>
</div>
